body {
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .outershell {
    background-color: rgba(185, 180, 164, 0.918);
    color: black;
    text-align: center;
    padding: 8rem;
    border-radius: 0.75rem;
    max-width: 1000px;
    min-height: 850px;
  }
  
  
  .innerbox1 {
    margin: 2rem;
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: rgb(63, 63, 63);
    color: white;
  }

  .innerbox2 {
    margin: 2rem;
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: rgb(63, 63, 63);
    color: white;
  }
  .innerbox3 {
    margin: 2rem;
    border-radius: 0.75rem;
    padding: 2rem;
    background-color: rgb(63, 63, 63);
    color: white;
  }

  .button {
    background-color: white;
    border-radius: 1rem;
    color: black;
    border: 2px solid #555555;
  }
  .button:hover {
    background-color: #ffae00ee;
    color: white;
  }
  .outer {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }
  
  .innerleft {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }